/*Password List table*/
table{
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}
table caption {
    caption-side: top;
    text-align: left;
}
table th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
}
table td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}

/* [title] {
    position: relative;
}

[title]:after {
    content: attr(title);
    position: absolute;
    left: 50%;
    bottom: 100%;
    background-color: black;
    color: white;
    width: max-content;
    padding: 0.25em;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
}

[title]:hover:after {
    opacity: 1;
} */